body {
    margin: 0 auto;
    padding: 0;
}
#container {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    float: right;
    padding: 0 0 0 18px;
}

#bottom {
    background-color: #f2f2f2;
    border-top: 2px solid #e4e4e4;
    height: 80px;
    clear: both;
    position: relative;
    margin-top: 100px;
    font: 12.5px/40px Arial;
}

#bottom-left {
    float: left;
}

#bottom-right {
    float: right;
    margin-right: 27px;
}

